@import "tailwindcss";

@layer utilities {
  .dark-scrollbar::-webkit-scrollbar {
    width: 8px; /* Ancho finito */
  }

  .dark-scrollbar::-webkit-scrollbar-track {
    background: #0f172a; /* Slate-900 (Fondo del track) */
    border-radius: 8px;
  }

  .dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: #334155; /* Slate-700 (Barra inactiva) */
    border-radius: 20px;
    border: 2px solid #0f172a; /* Borde para separarla */
  }

  .dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #d97706; /* Amber-600 (Barra al pasar el mouse) */
  }
}
